<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.dev.kefirx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CompressStud">
        <activity
            android:name=".StudyingActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false"
            android:label="@string/title_activity_calendar"
            android:theme="@style/Theme.CompressStud.NoActionBar" />
        <activity
            android:name=".StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="CompressStud" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="CompressStud" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="CompressStud">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".TimerService" />
    </application>

</manifest>